.jenny
{
    padding-left: 200px; 
    padding-right: 200px
}
.jenny-bio
{
    padding-left: 300px;
    padding-right: 300px;
    font-family: var(--font-primary);
  
}
.btn
{
    padding-left: 50px;
    padding-right: 50px;
}
.footer
{
    padding-left: 520px; 
    padding-right: 520px;
}

.contact-detail
{
    padding-left: 350px;
     padding-right: 350px;
}
.contact-info
{
    margin-left: 50px;
}

.input1
{
padding: 10px 245px 10px 20px;
}
.input2
{
    padding: 10px 245px 10px 20px;
}

